<a href="https://colab.research.google.com/github/kjapan87/Auto-Insurance-Renewal_prediction/blob/main/Insurance_Prediction_V1_20220903.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('/content/drive/MyDrive/train.csv')

In [6]:
def dataset_analyze(df):
    with pd.option_context("display.max_rows", None):
        info = pd.DataFrame()
        info['data type'] = df.dtypes
        info['Data Missing %ge'] = df.isnull().sum()*100/len(df)
        info['No. Unique'] = df.apply(lambda x: len(x.unique()))
        info['Unique Values'] = df.apply(lambda x: x.unique())
        return info.sort_values('Data Missing %ge',ascending = True)
    dataset_analyze()

In [7]:
dataset_analyze(df)

,data type,Data Missing %ge,No. Unique,Unique Values
customer_ID,int64,0.000000,97009,"[10000000, 10000005, 10000007, 10000013, 10000..."
F,int64,0.000000,4,"[2, 0, 1, 3]"
E,int64,0.000000,2,"[1, 0]"
D,int64,0.000000,3,"[2, 3, 1]"
C,int64,0.000000,4,"[2, 3, 1, 4]"
B,int64,0.000000,2,"[0, 1]"
A,int64,0.000000,3,"[1, 0, 2]"
married_couple,int64,0.000000,2,"[1, 0]"
age_youngest,int64,0.000000,60,"[42, 28, 43, 60, 24, 21, 31, 63, 17, 57, 50, 2..."
G,int64,0.000000,4,"[2, 1, 3, 4]"
age_oldest,int64,0.000000,58,"[46, 28, 43, 62, 32, 24, 21, 31, 63, 52, 59, 5..."
car_age,int64,0.000000,67,"[2, 10, 11, 3, 5, 6, 7, 15, 17, 1, 12, 8, 26, ..."
homeowner,int64,0.000000,2,"[0, 1]"
group_size,int64,0.000000,4,"[2, 1, 3, 4]"
location,int64,0.000000,6248,"[10001, 10006, 10008, 10014, 10015, 10017, 100..."
state,object,0.000000,36,"[IN, NY, PA, WV, MO, OH, OK, FL, OR, WA, KS, N..."
time,object,0.000000,1204,"[08:35, 08:38, 08:39, 11:55, 11:57, 11:58, 12:..."
day,int64,0.000000,7,"[0, 3, 4, 2, 1, 5, 6]"
record_type,int64,0.000000,2,"[0, 1]"
shopping_pt,int64,0.000000,13,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"
cost,int64,0.000000,531,"[633, 630, 638, 634, 755, 730, 731, 618, 616, ..."
car_value,object,0.230139,10,"[g, e, c, d, f, nan, h, i, b, a]"
C_previous,float64,2.812631,5,"[1.0, 3.0, 2.0, 4.0, nan]"
duration_previous,float64,2.812631,17,"[2.0, 13.0, 4.0, 3.0, 9.0, 0.0, 1.0, 8.0, 14.0..."
risk_factor,float64,36.139551,5,"[3.0, 4.0, nan, 2.0, 1.0]"

In [ ]:
df['risk_factor'] = df['risk_factor'].fillna(method = 'pad')