<a href="https://colab.research.google.com/github/kjapan87/Auto-Insurance-Renewal_prediction/blob/main/Insurance_Prediction_V1_20220903.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/train.csv')

In [ ]:
def dataset_analyze(df):
    with pd.option_context("display.max_rows", None):
        info = pd.DataFrame()
        info['data type'] = df.dtypes
        info['Data Missing %ge'] = df.isnull().sum()*100/len(df)
        info['No. Unique'] = df.apply(lambda x: len(x.unique()))
        info['Unique Values'] = df.apply(lambda x: x.unique())
        return info.sort_values('Data Missing %ge',ascending = True)
    dataset_analyze()

In [ ]:
dataset_analyze(df)

,data type,Data Missing %ge,No. Unique,Unique Values
customer_ID,int64,0.000000,53882,"[10000000, 10000005, 10000007, 10000013, 10000..."
car_age,int64,0.000000,61,"[2, 10, 11, 3, 5, 6, 7, 15, 17, 1, 12, 8, 26, ..."
homeowner,int64,0.000000,2,"[0, 1]"
group_size,int64,0.000000,4,"[2, 1, 3, 4]"
location,int64,0.000000,5880,"[10001, 10006, 10008, 10014, 10015, 10017, 100..."
age_oldest,int64,0.000000,59,"[46, 28, 43, 62, 32, 24, 21, 31, 63, 52, 59, 5..."
time,object,0.000000,1157,"[08:35, 08:38, 08:39, 11:55, 11:57, 11:58, 12:..."
day,int64,0.000000,7,"[0, 3, 4, 2, 1, 5, 6]"
record_type,int64,0.000000,2,"[0, 1]"
shopping_pt,int64,0.000000,13,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"
state,object,0.000000,36,"[IN, NY, PA, WV, MO, OH, OK, FL, OR, WA, KS, N..."
F,float64,0.000271,5,"[2.0, 0.0, 1.0, 3.0, nan]"
E,float64,0.000271,3,"[1.0, 0.0, nan]"
D,float64,0.000271,4,"[2.0, 3.0, 1.0, nan]"
C,float64,0.000271,5,"[2.0, 3.0, 1.0, 4.0, nan]"
B,float64,0.000271,3,"[0.0, 1.0, nan]"
A,float64,0.000271,4,"[1.0, 0.0, 2.0, nan]"
cost,float64,0.000271,473,"[633.0, 630.0, 638.0, 634.0, 755.0, 730.0, 731..."
married_couple,float64,0.000271,3,"[1.0, 0.0, nan]"
age_youngest,float64,0.000271,61,"[42.0, 28.0, 43.0, 60.0, 24.0, 21.0, 31.0, 63...."
G,float64,0.000271,5,"[2.0, 1.0, 3.0, 4.0, nan]"
car_value,object,0.238661,10,"[g, e, c, d, f, nan, h, i, b, a]"
duration_previous,float64,2.798915,17,"[2.0, 13.0, 4.0, 3.0, 9.0, 0.0, 1.0, 8.0, 14.0..."
C_previous,float64,2.798915,5,"[1.0, 3.0, 2.0, 4.0, nan]"
risk_factor,float64,36.010977,5,"[3.0, 4.0, nan, 2.0, 1.0]"

In [ ]:
df['risk_factor'] = df['risk_factor'].fillna(method = 'pad')